p{
    background-color: orange;
   } 
   body{
    background-color: aliceblue;
   }
   h1{
    background-color: black; 
    text-align: center;
    color: white;
    width: 50%;
   }
   #p1{
    background-color: darkblue;
    color: white;
   }
   .b {color: blue;}

