body{
    background-image: url(contractform.jpeg);
}
.contractform-header{
    margin: auto;
    font-style: italic;
    margin-bottom: .25em;
    text-align: center;
}
header h1::first-letter{
    font-size: larger;
}
header{
    text-shadow: rgb(0, 13, 72) 1px 0px 10px;
}
.contractform-nav{
    font-weight: bold;
    text-align: center;
}
a:link{
    color: black;
}
a:visited{
    color: purple;
}
a:hover{
    color: red;
}
a:active{
    color: cadetblue;
}
.contractform-main fieldset{
    text-align: center;
    margin: auto;
    background-color: white; background-blend-mode: lighten; width: 400px;
}
main{
    text-align: center;
}
#contractform-footer{
    text-align: center;
    margin: auto;
    margin-top: 3em;
}