body {
    background-color: silver;
}

p {
    background-color: orange;
}

h1 {
    background-color: yellow;color:red;
}

#p22{
    background-color: aqua;
}

.p23{
    background-color:lightgreen;
}